@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;0,700;1,500&display=swap');

:root {
  --color-60-lighter: #fff;
  --color-60-transp: hsla(0, 0%, 100%, 0.75);
  --color-60-light: #edfdee;
  --color-60-medium-light: #31323b;
  --color-60-medium: #2b2c3b;
  --color-60-medium-dark: #1c1d26;
  --color-60-dark: #171820;
  --color-30-1: hsla(0, 0%, 100%, 0.8);
  --color-accent-main: #ff6663;
  --color-accent-main-lighter: #ff7370;
  --color-accent-sec: #03cea4;
  --color-accent-sec-lighter: #0edfb5;
  --border-color: #eceeef;
  --color-illustration: #5626a9;
  --color-illustration-light: #6635bb;
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: #1f1f1f;
  --tool-color: var(--color-accent-sec);
  --tool-name-color: var(--color-60-transp);
  --toolbox-header-color: var(--color-60-transp);
  --tool-bg-color: var(--color-60-medium-dark);
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #fff;
  --card-text-color: hsla(0, 0%, 100%, 0.82);
  --faq-bg-color: rgba(31, 31, 31, 0.8);
  --project-card-header-color: hsla(0, 0%, 100%, 0.9);
  --project-card-description-color: hsla(0, 0%, 100%, 0.8);
  --project-card-tech-color: hsla(0, 0%, 100%, 0.55);
  --project-card-tech-border-color: hsla(0, 0%, 100%, 0.4);
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-light);
  --project-button-sec-text-color: var(--color-60-transp);
  --placeholder-color: var(--color-60-transp);
  --error-color: #f36;
  --default-color: #d6edff;
  --success-color: #81e979
}

* {
  margin: 0;
  padding: 0;
}

.landing {
  background-color: blue;
  display: flex;
}

.get-results {
  background: rgb(197, 233, 150);
}

.services {
  background: rgb(233, 221, 150);
}

.benefits {
  background-color: rgb(161, 112, 112);
}

.projects {
  background-color: rgb(100, 212, 90);
}

.tech-support {
  background-color: #5626a9;
}

.footer h3 {
  color: #fff !important;
  background-color: #171820;
}

.show {
  display: block;
}