@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;0,700;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Montserrat:wght@200;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --color-60-transp: hsla(0, 0%, 100%, 0.75);
  --color-60-light: #edfdee;
  --color-60-medium-light: #31323b;
  --color-60-medium: #2b2c3b;
  --color-60-medium-dark: #1c1d26;
  --color-60-dark: #171820;
  --color-30-1: hsla(0, 0%, 100%, 0.8);
  --color-accent-main: #ff6663;
  --color-accent-main-lighter: #ff7370;
  --color-accent-sec: #55c57a;
  --color-accent-sec-lighter: #0edfb5;
  --color-accent-dark: #4799629a;
  --border-color: #eceeef;
  --color-illustration: #5626a9;
  --color-illustration-light: #6635bb;
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: #1f1f1f;
  --tool-color: var(--color-accent-sec);
  --tool-name-color: var(--color-60-transp);
  --toolbox-header-color: var(--color-60-transp);
  --tool-bg-color: var(--color-60-medium-dark);
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #fff;
  --card-text-color: hsla(0, 0%, 100%, 0.82);
  --faq-bg-color: rgba(31, 31, 31, 0.8);
  --project-card-header-color: hsla(0, 0%, 100%, 0.9);
  --project-card-description-color: hsla(0, 0%, 100%, 0.8);
  --project-card-tech-color: hsla(0, 0%, 100%, 0.55);
  --project-card-tech-border-color: hsla(0, 0%, 100%, 0.4);
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-light);
  --project-button-sec-text-color: var(--color-60-transp);
  --placeholder-color: var(--color-60-transp);
  --error-color: #f36;
  --default-color: #d6edff;
  --success-color: #81e979;
  --success-color-dark: #548675;
  --height-100: 100vh;
  --width-100: 100vw;
  --box-shadow: 8px 8px 50px #000;
  --box-shadow-2: 0px 0px 40px #000;
  --bg-transparent: hsla(0, 0%, 100%, 0.144);
  --color-darker: rgba(13, 14, 13, 0.315);
  --bg-color: #392338;
  --menu-color: #fff;
  --hamburger_color: var(--bg-color);
  --icon_hover_color: #c1264e;
  --arrow_hover_color: #ff947f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--white);
  background-color: var(--color-60-medium);
  scrollbar-color: #535353 #333;
  font-family: "Roboto Mono", sans-serif;

}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Righteous", "Roboto Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;
}

p {
  color: var(--color-60-transp);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  font-weight: 200;
}

h1,
h2 {
  letter-spacing: 0.1rem;
  font-size: 100%;
}

.py-1 {
  padding: 1rem 0 1rem 0;
}

.py-2 {
  padding: 2rem 0 2rem 0;
}

.mt-2 {
  margin: 2rem 0 2rem 0;
}

.py-3 {
  padding: 3rem 0 3rem 0;
}

.px-3 {
  padding: 3rem 0 3rem 0;
}

.py-4 {
  padding: 4rem 0 4rem 0;
}

.pt-3 {
  padding-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 50px;
  height: 50px;
}

section {
  width: 100%;
  overflow: hidden;
}

header {
  display: none;
  position: fixed;

  nav {
    background-color: var(--color-60-medium-dark);
    transition: opacity 0.35s ease-out;
    color: var(--white);
    margin: 0;
    padding: 0.8rem;

    ul {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }

    span {
      color: var(--white);
    }

    .nav-img {
      a {
        display: flex;
        align-items: center;
        margin-left: 5rem;

        span {
          margin-left: 0.8rem;
          font-size: 1rem;
        }
      }
    }

    .nav-item {
      button {
        padding: 0.6rem 1.6rem 0.6rem 1.6rem;
        margin-right: 5rem;
        margin-top: 0.2rem;
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 1rem;
        text-transform: uppercase;
        background-color: var(--color-accent-dark);
        border: transparent;
        border-radius: 0.35rem;
        color: var(--white);
        cursor: pointer;

        &:hover {
          background-color: #548675;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
  }
}

.display-nav {
  display: block;
  z-index: 200;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.btn-full {
  padding: 1rem 2.5rem;
  background: var(--color-illustration);
  border: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
}

/* form animation starts */
::-webkit-input-placeholder {
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
}

@keyframes bounce {
  0% {
    transform: translate(0, 4px);
  }

  50% {
    transform: translate(0, 8px);
  }
}

/******* MEDIA QUERIES ******/

@media screen and (max-width: 425px) {

  header {
    // .nav-wrapper{
    //   margin-top: -80px;
    // }

    nav {
      .nav-img {
        a {
          margin-left: 1rem;

        }
      }
    }

    .navbar {
      .nav-item {
        span {
          font-size: 12px;
        }

        button {
          visibility: visible;
          margin-right: 15px;
        }
      }
    }
  }

  main {
    overflow-x: hidden;
  }

  .project-body {
    width: 100%;
    // margin-top: 1rem;


    .back-btn {
      padding-top: 1.5rem;

      a {
        margin: 2rem;
        color: var(--white);

        .fa {
          color: var(--color-accent-sec);
          margin-right: 1rem;
          font-size: 1.3rem;
        }
      }
    }

    .details-container {
      margin: 1.5rem 1rem;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .year,
      .tech,
      .pro-desc {
        margin: 1rem;

        h4 {
          margin-bottom: 2rem;
          text-transform: uppercase;
          color: var(--color-accent-sec);
        }

        p {
          margin-bottom: 5px;
          font-size: small;
        }
      }
    }

    .pro-image {
      background: var(--project-card-tech-border-color);
      margin-bottom: 2rem;

      img {
        width: 400px;
        height: auto;
      }
    }

    .skills-used {
      margin: 2rem 0rem;

      .skill {
        background: var(--color-60-dark);
        padding: 1rem;
        margin: 2rem;
        border-radius: 5px;


        h4 {
          margin-bottom: 1rem;
          text-align: center;
        }
      }
    }

    .pro-screenshots {
      margin-bottom: 3rem;

      div {
        margin: 1rem;

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
    }

    .contact {
      width: 100%;
      margin: 1rem;

      form {
        width: 90%;
        padding: 1rem;
        animation: bounce 1.5s infinite;

        .name,
        .email,
        .message {
          background: transparent;
          color: var(--color-60-light);
          border-bottom: solid var(--color-60-light) 0.52px !important;
          letter-spacing: .1em;
          font-family: 'Montserrat';

          &:hover {
            width: 100%;
            transition: ease 0.5s;
          }

        }

        .title {
          font-family: "Monda", sans-serif;
          margin: 10px auto 5px;
          width: 100%;
        }

        .pageTitle {
          font-size: 1.5em;
          margin: 10px 0px;
          font-weight: bold;
        }

        .formEntry {
          margin: 20px auto;
          width: 80%;
          padding: 10px;
          border-radius: 2px;
          border: none;
          color: var(--white);

          transition: all 0.5s ease 0s;
        }

        .message {
          height: 10%;
        }

        .submit {
          width: 80%;
          color: white;
          background-color: var(--color-accent-sec);
          font-size: 15px;
          text-transform: uppercase;
        }

      }
    }

    /*end project body **/
  }

  footer {
    width: 100%;

    .about-me {
      margin: 0px 2rem;

      .icons {
        margin: 3rem 0rem;
        font-size: 0.7rem;

        a {
          margin: 0.5rem;

          svg {
            margin-right: 15px;

            path {
              fill: var(--color-60-light);
            }

            width: 20px;
            height: 20px;
          }
        }
      }

    }

    .endnote {
      display: flex;
      justify-content: space-around;
      margin-top: 90px;


      .futer-txt {
        a {
          color: var(--color-60-light);
        }

        span {
          margin-left: .5rem;
        }
      }
    }
  }

}