@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Montserrat:wght@200;300;400;500;600&display=swap");
:root {
  --white: #fff;
  --color-60-transp: hsla(0, 0%, 100%, 0.75);
  --color-60-light: #edfdee;
  --color-60-medium-light: #31323b;
  --color-60-medium: #2b2c3b;
  --color-60-medium-dark: #1c1d26;
  --color-60-dark: #171820;
  --color-30-1: hsla(0, 0%, 100%, 0.8);
  --color-accent-main: #ff6663;
  --color-accent-main-lighter: #ff7370;
  --color-accent-sec: #55c57a;
  --color-accent-sec-lighter: #0edfb5;
  --color-accent-dark: #4799629a;
  --border-color: #eceeef;
  --color-illustration: #5626a9;
  --color-illustration-light: #6635bb;
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: #1f1f1f;
  --tool-color: var(--color-accent-sec);
  --tool-name-color: var(--color-60-transp);
  --toolbox-header-color: var(--color-60-transp);
  --tool-bg-color: var(--color-60-medium-dark);
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #fff;
  --card-text-color: hsla(0, 0%, 100%, 0.82);
  --faq-bg-color: rgba(31, 31, 31, 0.8);
  --project-card-header-color: hsla(0, 0%, 100%, 0.9);
  --project-card-description-color: hsla(0, 0%, 100%, 0.8);
  --project-card-tech-color: hsla(0, 0%, 100%, 0.55);
  --project-card-tech-border-color: hsla(0, 0%, 100%, 0.4);
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-light);
  --project-button-sec-text-color: var(--color-60-transp);
  --placeholder-color: var(--color-60-transp);
  --error-color: #f36;
  --default-color: #d6edff;
  --success-color: #81e979;
  --height-100: 100vh;
  --width-100: 100vw;
  --box-shadow: 8px 8px 50px #000;
  --box-shadow-2: 0px 0px 40px #000;
  --bg-transparent: hsla(0, 0%, 100%, 0.144);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  color: var(--white);
  background-color: var(--color-60-medium);
  scrollbar-color: #535353 #333;
  font-family: "Roboto Mono", monospace;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;
}

p {
  color: var(--color-60-transp);
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Righteous", "Roboto Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

h1,
h2 {
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.visible {
  opacity: 1;
}

.center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.py-1 {
  padding: 1rem 0 1rem 0;
}

.py-2 {
  padding: 2rem 0 2rem 0;
}

.py-3 {
  padding: 3rem 0 3rem 0;
}

.px-3 {
  padding: 3rem 0 3rem 0;
}

.py-4 {
  padding: 4rem 0 4rem 0;
}

.pt-3 {
  padding-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  width: 50px;
  height: 50px;
}

/*******************
Buttons
******************/
button {
  cursor: pointer;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
  -webkit-transition: 0s;
  transition: 0s;
}

header {
  -webkit-box-shadow: 0 2px 10px rgba(236, 78, 32, 0.05);
          box-shadow: 0 2px 10px rgba(236, 78, 32, 0.05);
}

header nav {
  background-color: var(--color-60-medium-dark);
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  color: white;
  margin: 0;
  padding: 0.8rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

header nav span {
  color: #fff;
}

header nav .nav-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5rem;
}

header nav .nav-img a span {
  margin-left: 0.8rem;
  font-size: 1rem;
}

header nav .nav-item button {
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  margin-right: 5rem;
  margin-top: 0.2rem;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1rem;
  text-transform: uppercase;
  background-color: var(--color-accent-sec);
  border: transparent;
  border-radius: 0.35rem;
  color: #fff;
  cursor: pointer;
}

header nav .nav-item button:hover {
  background-color: #548675;
}

header nav .nav-item img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

main {
  /* .parent {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    padding: 2rem;

    align-items: center;
    justify-content: center;

    .child-1,
    .child-2,
    .child-3 {
      // border: #03cea4 solid 2px;
      padding: 0.5rem;
    }

    .child-1 {
      grid-column: 2/2;
    }

    .child-2 {
      grid-column: 3/4;
    }
  } */
  /*  .landing {
    .what-i-do {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 5rem;
      }
    }
  } */
}

main img {
  height: 400px;
  width: auto;
}

main section {
  height: auto;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.landing .landing-info,
.landing .landing-img {
  border: 1px solid hotpink;
}

.landing .landing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .landing-info .what-i-do,
.landing .landing-info .cta-container {
  border: 1px solid #fff;
}

.landing .landing-info .hero .what-i-do {
  padding: .5rem;
  width: 400px;
}

.landing .landing-info .hero .what-i-do h1 {
  font-size: 4rem;
}

.landing .landing-info .hero .what-i-do p {
  width: 60%;
  margin: 2rem 0;
  line-height: 1.8rem;
}

.landing .landing-info .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.landing .landing-info .cta-container .cta-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .landing-info .cta-container .cta-btns button {
  font-family: 'Montserrat', sans-serif;
  padding: 1.3rem 3rem;
  font-weight: 600;
  border: 1px solid var(--success-color);
  background: transparent;
  margin: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
}

.landing .landing-info .cta-container .cta-btns button:hover {
  color: var(--white);
  background-color: var(--color-accent-dark);
}

.landing .landing-info .cta-container .cta-btns button svg {
  display: none;
}

.landing .landing-info .cta-container .cta-btns .btn-full {
  background-color: var(--color-accent-sec);
}

.landing .landing-info .cta-container .social-icons,
.landing .landing-info .cta-container .cta-btns {
  border: 1px solid red;
}

.landing .landing-info .cta-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landing .landing-info .cta-container .social-icons .landing-icons svg .fa-twitter {
  color: red;
}

.landing .landing-info .cta-container .social-icons .landing-icons svg path {
  color: var(--color-60-light);
}

.landing .landing-img img {
  height: 600px;
  width: auto;
}

.get-results {
  background: #596845;
}

.get-results .results-body h1 {
  font-size: xx-large;
  margin-top: -10rem;
  margin-bottom: 1rem;
}

.get-results .project-link button {
  margin-top: 2rem;
  background: transparent;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 5px rgba(94, 91, 91, 0.14);
          box-shadow: 0 2px 5px rgba(94, 91, 91, 0.14);
  border: 1px solid var(--default-color);
}

.get-results .project-link button:hover {
  border-color: var(--success-color);
  background-color: #2cdd9b;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.services {
  background: #b3a86b;
  height: auto;
}

.services h1 {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5rem;
}

.services .help-1,
.services .help-3 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .help-1 .child-1,
.services .help-1 .child-2,
.services .help-3 .child-1,
.services .help-3 .child-2 {
  border: red solid 1px;
  padding: 0.5rem;
}

.services .help-1 .child-1,
.services .help-3 .child-1 {
  position: relative;
  width: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .help-1 .child-1 h2,
.services .help-3 .child-1 h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.services .help-1 .child-2,
.services .help-3 .child-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.services .help-2,
.services .help-4 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .help-2 .child-1,
.services .help-2 .child-2,
.services .help-4 .child-1,
.services .help-4 .child-2 {
  border: red solid 1px;
  padding: 0.5rem;
}

.services .help-2 .child-2,
.services .help-4 .child-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.services .help-2 .child-2,
.services .help-4 .child-2 {
  position: relative;
  width: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .help-2 .child-2 h2,
.services .help-4 .child-2 h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tech-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tech-used .frontend,
.tech-used .backend,
.tech-used .general {
  border: 1px solid red;
  padding: 1rem;
  margin: 1rem;
  color: var(--white);
}

.tech-used .frontend h2,
.tech-used .backend h2,
.tech-used .general h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-used .frontend svg,
.tech-used .backend svg,
.tech-used .general svg {
  width: 50px;
  height: 50px;
}

.tech-used .frontend svg fill,
.tech-used .backend svg fill,
.tech-used .general svg fill {
  color: #0edfb5;
}

.benefits {
  background-color: #a17070;
}

.benefits h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .flex-container .benefit-1,
.benefits .flex-container .benefit-2,
.benefits .flex-container .benefit-3,
.benefits .flex-container .benefit-4,
.benefits .flex-container .benefit-5,
.benefits .flex-container .benefit-6 {
  border: 1px solid red;
  margin: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .flex-container .benefit-1 span,
.benefits .flex-container .benefit-2 span,
.benefits .flex-container .benefit-3 span,
.benefits .flex-container .benefit-4 span,
.benefits .flex-container .benefit-5 span,
.benefits .flex-container .benefit-6 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .flex-container .benefit-1 p,
.benefits .flex-container .benefit-2 p,
.benefits .flex-container .benefit-3 p,
.benefits .flex-container .benefit-4 p,
.benefits .flex-container .benefit-5 p,
.benefits .flex-container .benefit-6 p {
  width: inherit;
}

.projects .btn-nav button {
  padding: 1rem 1.5rem;
  color: var(--white);
  background-color: var(--color-illustration);
  border: 1px solid var(--color-illustration);
  border-radius: 5px;
}

.projects .btn-nav button:hover {
  background-color: transparent;
}

.projects .project-cards {
  padding: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.8rem;
  /* .project-card {
      display: grid;
      grid-template-rows: repeat (2, 1fr);
      justify-content: center;
      border: 15px solid var(--project-card-tech-border-color);
      margin: 1rem;
      position: relative;
      border-radius: 10px;
      height: 100%;
      width: 40%;

      img {
        width: 250px;
        height: 200px;
      }

      h3 {
        margin-top: 0.5rem;
      }

      .short-desc {
        font-size: small;
        height: 2rem;
      }

      .info-container {
        display: flex;
        border: 1px solid red;
        width: 100%;

        .tech-used {
          display: flex;
          align-items: start;
        }

        .project-links {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          a {
            padding: 1.125em 1em;
            background-color: var(--success-color);
            color: var(--white);
            font-weight: 600;
            border-radius: 7px;
          }
        }
      }

      .tech-used {
        .techs {
          background-color: red;
          font-size: 5px;
        }
        a {
          border: 1px solid #535353;
          padding: 0.5rem;
          margin: 0.25rem;
          border-radius: 5px;
        }
      }
    } */
}

.projects .project-cards .project-card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project-cards .project-card .card {
  margin: 2.5rem;
  background-color: var(--color-60-medium);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
  border: 1px solid var(--color-60-medium-light);
  padding: 7px;
}

.projects .project-cards .project-card .card .card-header img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projects .project-cards .project-card .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.3rem;
  min-height: 250px;
  margin: 0.7rem;
}

.projects .project-cards .project-card .card .card-body .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.projects .project-cards .project-card .card .card-body .techs span {
  margin: 10px;
}

.projects .project-cards .project-card .card .card-body h3 {
  margin-top: 10px;
  color: var(--white);
}

.projects .project-cards .project-card .card .card-body p {
  font-size: 13px;
  margin: 20px 0 40px;
  color: var(--color-60-transp);
}

.projects .project-cards .project-card .card .card-body .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--project-card-tech-color);
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--project-card-tech-border-color);
}

.projects .project-cards .project-card .card .card-body .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.projects .project-cards .project-card .card .card-body .user .project-links {
  margin-bottom: 1rem;
}

.projects .project-cards .project-card .card .card-body .user .project-links a {
  margin-right: 1rem;
  padding: 0.8rem;
  color: var(--white);
  font-size: small;
  font-weight: 600;
  background-color: var(--color-illustration);
  border: 1px solid var(--color-illustration);
  border-radius: 5px;
}

.projects .project-cards .project-card .card .card-body .user .project-links a:hover {
  background-color: var(--color-illustration-light);
}

.projects .project-cards .project-card .card .card-body .user .project-links .view-code {
  background-color: var(--color-60-medium-dark);
  border: transparent;
}

.projects .project-cards .project-card .card .card-body .user .project-links .view-code:hover {
  background-color: var(--color-60-medium-light);
}

.tech-support {
  background-color: var(--initial-color-overlay);
  padding-top: 2rem;
}

.tech-support .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech-support .support .details {
  width: 400px;
  margin: 2rem;
  line-height: 2rem;
  font-family: "Montserrat", sans-serif;
}

.tech-support .support .details p {
  margin-bottom: 1rem;
  font-weight: 300;
}

.tech-support .support .details > span {
  color: red;
}

.tech-support .support .report-form {
  width: 450px;
  margin: 2rem;
  padding: 2rem;
}

.tech-support .support .report-form .form {
  width: 340px;
  height: 470px;
  -webkit-box-shadow: 0 0 70px -10px var(--color-60-medium-dark);
          box-shadow: 0 0 70px -10px var(--color-60-medium-dark);
  padding: 20px 30px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  border-radius: 8px;
}

.tech-support .support .report-form .form input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.tech-support .support .report-form .form input:focus {
  border-bottom: 2px solid #78788c;
}

.tech-support .support .report-form .form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: var(--card-text-color);
}

.tech-support .support .report-form .form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: var(--card-text-color);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tech-support .support .report-form .form button:hover {
  background: #78788c;
  color: #fff;
}

.tech-support .support .report-form .form textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #bebed2;
  margin-top: 5px;
}

.tech-support .support .report-form .form div {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  -webkit-box-shadow: 10px 10px 40px -14px #000;
          box-shadow: 10px 10px 40px -14px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tech-support .support .report-form .form div span {
  margin: 0 5px 0 15px;
}

.show {
  display: block !important;
}

.hidden {
  display: none;
}

.faq {
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  height: 1400px;
  position: relative;
}

.faq .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .questions .question {
  width: 800px;
  margin: 2rem;
  background-color: var(--color-60-dark);
  border-radius: 10px;
  position: relative;
  display: inline-block;
}

.faq .questions .question .faq-question {
  padding: 1rem !important;
  font-size: 1rem;
  margin-left: 4px;
  border-radius: 10px;
}

.faq .questions .question .faq-question:hover {
  cursor: pointer;
}

.faq .questions .question .drop-content {
  font-family: "Montserrat", "Roboto Mono", sans-serif;
  line-height: 1.7rem;
  padding: 0.5rem;
  margin-top: 0.9rem;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-me .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.contact-me .container .screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.contact-me .container .screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.contact-me .container .screen .screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contact-me .container .screen .screen-header .screen-header-left {
  margin-right: auto;
}

.contact-me .container .screen .screen-header .screen-header-left .screen-header-button {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 3px;
  border-radius: 8px;
  background: var(--white);
}

.contact-me .container .screen .screen-header .screen-header-button.close {
  background: #ed1c6f;
}

.contact-me .container .screen .screen-header .screen-header-button.maximize {
  background: #e8e925;
}

.contact-me .container .screen .screen-header .screen-header-button.minimize {
  background: #74c54f;
}

.contact-me .container .screen .screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-me .container .screen .screen-body .screen-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.contact-me .container .screen .screen-body .screen-body-item .app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: var(--color-accent-sec-lighter);
  font-size: 26px;
}

.contact-me .container .screen .screen-body .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-me .container .screen .screen-body .app-contact {
  margin-top: auto;
  font-size: 10px;
  color: #888;
}

.contact-me .container .screen .screen-body .app-contact .email {
  margin-left: 4.2rem;
}

.contact-me .container .screen .app-form .app-form-group {
  margin-bottom: 15px;
}

.contact-me .container .screen .app-form .app-form-group .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.contact-me .container .screen .app-form .app-form-group .app-form-control::-webkit-input-placeholder {
  color: #666;
}

.contact-me .container .screen .app-form .app-form-group .app-form-control:-ms-input-placeholder {
  color: #666;
}

.contact-me .container .screen .app-form .app-form-group .app-form-control::-ms-input-placeholder {
  color: #666;
}

.contact-me .container .screen .app-form .app-form-group .app-form-control::placeholder {
  color: #666;
}

.contact-me .container .screen .app-form .app-form-group .app-form-control :focus {
  border-bottom-color: #ddd;
}

.contact-me .container .screen .app-form .app-form-group .app-form-button {
  background: none;
  border: solid 1px var(--project-card-tech-color);
  color: var(--project-card-tech-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
}

.contact-me .container .screen .app-form .app-form-group .app-form-button:hover {
  color: var(--color-accent-sec-lighter);
  border-color: var(--color-accent-sec-lighter);
  background: transparent;
}

.contact-me .container .screen .buttons {
  margin-bottom: 0;
  text-align: right;
}

@media screen and (max-width: 520px) {
  .contact-me .screen-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-me .screen-body-item .left {
    margin-bottom: 30px;
  }
  .contact-me .app-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-me .app-title:after {
    display: none;
  }
  .contact-me .app-title span {
    margin-right: 12px;
  }
}

@media screen and (max-width: 650px) {
  .contact-me .screen-body {
    padding: 40px;
  }
  .contact-me .screen-body-item {
    padding: 0;
  }
  .contact-me .container {
    padding-left: 5rem;
    width: 600px;
  }
  .contact-me .center-item {
    padding-left: 9rem;
    margin-left: 3rem;
    width: 580px;
    font-size: 2rem;
  }
  .contact-me .app-form-button {
    background: none;
    border: solid 1px var(--project-card-tech-color);
    color: var(--project-card-tech-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    padding: 0.8rem 1.8rem;
    border-radius: 5px;
    margin-top: 0.6rem;
    width: 100%;
  }
}

.footer {
  height: 100%;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .about-softech,
.footer .quick-links {
  width: 500px;
  margin: 2rem;
  padding: 1rem;
}

.footer .about-softech .txt p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.footer .quick-links li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .quick-links li a {
  cursor: pointer;
  margin: 0.5rem;
  font-family: "Monda", sans-serif;
  color: var(--width);
}

.footer .icons {
  font-size: 0.7rem;
}

.footer .icons a {
  margin: 0.5rem;
}

.footer .icons a svg path {
  fill: #0edfb5;
}

.footer .endnote {
  position: absolute;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 2rem;
  width: 50%;
}

.footer .endnote .futer-txt a {
  color: var(--color-60-light);
  text-transform: lowercase;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

.footer .endnote .futer-txt a:hover {
  background: rgba(255, 255, 255, 0.144);
}
/*# sourceMappingURL=style.css.map */