@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;0,700;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Montserrat:wght@200;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --color-60-transp: hsla(0, 0%, 100%, 0.75);
  --color-60-light: #edfdee;
  --color-60-medium-light: #31323b;
  --color-60-medium: #2b2c3b;
  --color-60-medium-dark: #1c1d26;
  --color-60-dark: #171820;
  --color-30-1: hsla(0, 0%, 100%, 0.8);
  --color-accent-main: #ff6663;
  --color-accent-main-lighter: #ff7370;
  --color-accent-sec: #55c57a;
  --color-accent-sec-lighter: #0edfb5;
  --color-accent-dark: #4799629a;
  --border-color: #eceeef;
  --color-illustration: #5626a9;
  --color-illustration-light: #6635bb;
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: #1f1f1f;
  --tool-color: var(--color-accent-sec);
  --tool-name-color: var(--color-60-transp);
  --toolbox-header-color: var(--color-60-transp);
  --tool-bg-color: var(--color-60-medium-dark);
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #fff;
  --card-text-color: hsla(0, 0%, 100%, 0.82);
  --faq-bg-color: rgba(31, 31, 31, 0.8);
  --project-card-header-color: hsla(0, 0%, 100%, 0.9);
  --project-card-description-color: hsla(0, 0%, 100%, 0.8);
  --project-card-tech-color: hsla(0, 0%, 100%, 0.55);
  --project-card-tech-border-color: hsla(0, 0%, 100%, 0.4);
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-light);
  --project-button-sec-text-color: var(--color-60-transp);
  --placeholder-color: var(--color-60-transp);
  --error-color: #f36;
  --default-color: #d6edff;
  --success-color: #81e979;
  --success-color-dark: #548675;
  --height-100: 100vh;
  --width-100: 100vw;
  --box-shadow: 8px 8px 50px #000;
  --box-shadow-2: 0px 0px 40px #000;
  --bg-transparent: hsla(0, 0%, 100%, 0.144);
  --color-darker: rgba(13, 14, 13, 0.315);
  --bg-color: #392338;
  --menu-color: #fff;
  --hamburger_color: var(--bg-color);
  --icon_hover_color: #c1264e;
  --arrow_hover_color: #ff947f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: var(--white);
  background-color: var(--color-60-medium);
  scrollbar-color: #535353 #333;
  font-family: "Roboto Mono", sans-serif;
  transition: 0.2s ease-out;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;
}

p {
  color: var(--color-60-transp);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  font-weight: 200;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Righteous", "Roboto Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

h1,
h2 {
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.visible {
  opacity: 1;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.py-1 {
  padding: 1rem 0 1rem 0;
}

.py-2 {
  padding: 2rem 0 2rem 0;
}

.py-3 {
  padding: 3rem 0 3rem 0;
}

.px-3 {
  padding: 3rem 0 3rem 0;
}

.py-4 {
  padding: 4rem 0 4rem 0;
}

.pt-3 {
  padding-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

svg {
  width: 50px;
  height: 50px;
}

section {
  width: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  color: var(--white);
}

header {
  display: none;
  position: fixed;
  // box-shadow: 0 2px 10px rgba(236, 78, 32, 0.05);

  // visibility: hidden;
  nav {
    background-color: var(--color-60-medium-dark);
    // opacity: 0;
    transition: opacity 0.35s ease-out;
    color: var(--white);
    margin: 0;
    padding: 0.8rem;

    ul {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }

    span {
      color: var(--white);
    }

    .nav-img {
      a {
        display: flex;
        align-items: center;
        margin-left: 5rem;

        span {
          margin-left: 0.8rem;
          font-size: 1rem;
        }
      }
    }

    .nav-item {
      button {
        padding: 0.6rem 1.6rem 0.6rem 1.6rem;
        margin-right: 5rem;
        margin-top: 0.2rem;
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 1rem;
        text-transform: uppercase;
        background-color: var(--color-accent-dark);
        border: transparent;
        border-radius: 0.35rem;
        color: var(--white);
        cursor: pointer;

        &:hover {
          background-color: #548675;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
  }
}

.display-nav {
  display: block;
  z-index: 200;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

main {
  width: 100%;

  img {
    height: 400px;
    width: auto;
  }

  section {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
  }
}

// MOBILE MENU NAV
.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: " ";
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all 0.3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease, background 0.2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em, 1em, 0);
}

.circular-menu.active .menu-item:nth-child(5) {
  transform: translate3d(-2.5em, -3.2em, 0);
}

/**  The other theme for this menu ** */

.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em, -7em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em, -6.3em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em, -3.2em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em, 1em, 0);
}

// LANDING SECTION
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;

  background-image: url("assets/img/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .landing-info {
    display: flex;
    flex-direction: column;

    .hero {
      .what-i-do {
        padding: 0.5rem;
        width: 400px;

        h1 {
          font-size: 4rem;
        }

        p {
          width: 70%;
          margin: 2rem 0;
          line-height: 1.8rem;
          font-weight: 400;
        }
      }
    }

    .cta-container {
      display: flex;
      height: 100%;

      .cta-btns {
        display: flex;
        // width: 40%;
        margin-right: 3rem;

        flex-direction: column;

        button {
          font-family: "Montserrat", sans-serif;
          padding: 1.3rem 3rem;
          font-weight: 600;
          border: 3px solid var(--color-accent-dark);
          background: transparent;
          margin: 1rem;
          text-transform: uppercase;
          font-size: 0.8rem;

          &:hover {
            color: var(--white);
            background: var(--color-accent-dark);
          }

          svg {
            display: none;
          }
        }

        .btn-full {
          background-color: var(--color-accent-sec);
          background: var(--color-accent-dark);
          width: 85%;

          &:hover {
            color: var(--white);
            background-color: #548675;
          }
        }
      }

      .social-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .landing-icons {
          &>svg {
            fill: var(--white);
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  .landing-img {
    .landing-pic {
      img {
        height: 450px;
        width: auto;
      }
    }
  }
}

// GET RESULTS
.get-results {
  background: var(--color-60-dark);

  h1 {
    font-size: 3.5rem;
  }

  .results-body {
    flex-direction: column;

    p {
      width: 400px;
      line-height: 1.8rem;
      margin-bottom: 0.1rem;
      text-align: center;
    }
  }

  .project-link {
    button {
      margin: 2rem 0;
      background: transparent;
      font-size: 1rem;
      box-shadow: 0 2px 5px rgba(94, 91, 91, 0.14);
      border: 2px solid var(--default-color);
      padding: 1rem 1.5rem;

      &:hover {
        border-color: var(--success-color);
        background-color: var(--color-accent-sec);
        color: var(--white);
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }
}

// SERVICES
.services {
  flex-direction: column;
  margin-bottom: 3rem;

  h1 {
    margin: 4.5rem 0;
  }

  .help-1,
  .help-2 {
    width: 70%;

    .child-2,
    .child-1 {
      margin: 3rem 0;
    }
  }

  .help-1,
  .help-2 {
    .child-1 {
      justify-content: center;
      // width: 70%;

      p {
        width: 600px;
      }

      h3 {
        width: 100%;
      }
    }
  }

  .help-2 {
    .child-1 {
      display: inline-flex;
      flex-direction: column;
      margin-left: 10rem;
    }
  }

  .help-1 {
    .child-1 {
      display: inline-flex;
      flex-direction: column;
      margin-right: 10rem;
    }
  }

  .child-1 {
    p {
      width: 100%;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    h3 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      justify-content: start;
    }
  }

  .child-2 {
    img {
      width: 350px;
      height: 350px;
    }
  }
}

// TECHNOLOGIES
.tech-used {
  background: rgba(3, 3, 20, 0.945);
  background-image: url("assets/img/bg1.PNG");
  padding-bottom: 5rem;
  height: 100%vh;

  h1 {
    width: 100%;
    font-size: 4rem;
  }

  .frontend,
  .backend,
  .general {
    padding: 1rem;
    margin-bottom: 3rem;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .icon {
      background: var(--color-60-medium-light);
      padding: 1rem;
      margin: 1rem;
      width: 100px;
      height: 100px;
      border-radius: 7px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 300;
      }

      svg {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 40px;

        path {
          fill: #0edfb5;
        }
      }
    }
  }
}

// BENEFITS
.benefits {
  background-color: var(--color-60-medium);
  padding-bottom: 5rem;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .benefit-1,
    .benefit-2,
    .benefit-3,
    .benefit-4,
    .benefit-5,
    .benefit-6 {
      margin: 0 2rem;
      padding-bottom: 2rem;
      width: 300px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}

// PROJECTS
.projects {
  background-color: var(--color-60-medium-dark);
  background-color: var(--final-colour-overlay);
  /* background-image: url('assets/img/bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  .btn-nav {
    button {
      padding: 1.2rem 2.3rem;
      color: var(--white);
      background-color: var(--color-illustration);
      border: 1px solid var(--color-illustration);
      border-radius: 5px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .project-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .project-card {
      .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .card {
        margin: 2.5rem;
        background-color: var(--color-60-medium);
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        width: 400px;
        border: 1px solid var(--color-60-medium-light);
        padding: 7px;

        .card-header {
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0.3rem;
          min-height: 250px;
          margin: 0.7rem;
          max-height: 300px;

          .techs {
            display: flex;
            flex-wrap: wrap;
            margin: 0;

            span {
              margin: 10px;
            }
          }

          h3 {
            margin-top: 10px;
            color: var(--white);
          }

          p {
            font-size: 13px;
            margin: 20px 0 40px 0;
            color: var(--color-60-transp);
          }

          .tag {
            display: flex;
            background: transparent;
            border-radius: 5px;
            font-size: 12px;
            margin-bottom: 10px;
            color: var(--project-card-tech-color);
            padding: 2px 10px;
            text-transform: uppercase;
            border: 1px solid var(--project-card-tech-border-color);
          }

          // .tag-teal {
          //   background-color: #47bcd4;
          // }
          // .tag-purple {
          //   background-color: #5e76bf;
          // }
          // .tag-pink {
          //   background-color: #cd5b9f;
          // }

          .user {
            display: flex;
            // margin-top: auto;

            // img {
            //   border-radius: 50%;
            //   width: 40px;
            //   height: 40px;
            //   margin-right: 10px;
            // }

            .project-links {
              margin-bottom: 1rem;

              a {
                margin-right: 2rem;
                padding: 1rem;
                color: var(--white);
                font-size: small;
                font-weight: 600;
                background-color: var(--color-illustration);
                border: 1px solid var(--color-illustration);
                border-radius: 5px;

                &:hover {
                  background-color: var(--color-illustration-light);
                }
              }

              .view-code {
                background-color: var(--color-60-medium-dark);
                border: transparent;

                &:hover {
                  background-color: var(--color-60-medium-light);
                }
              }
            }
          }
        }
      }
    }

    /* .project-card {
      display: grid;
      grid-template-rows: repeat (2, 1fr);
      justify-content: center;
      border: 15px solid var(--project-card-tech-border-color);
      margin: 1rem;
      position: relative;
      border-radius: 10px;
      height: 100%;
      width: 40%;

      img {
        width: 250px;
        height: 200px;
      }

      h3 {
        margin-top: 0.5rem;
      }

      .short-desc {
        font-size: small;
        height: 2rem;
      }

      .info-container {
        display: flex;
        border: 1px solid red;
        width: 100%;

        .tech-used {
          display: flex;
          align-items: start;
        }

        .project-links {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          a {
            padding: 1.125em 1em;
            background-color: var(--success-color);
            color: var(--white);
            font-weight: 600;
            border-radius: 7px;
          }
        }
      }

      .tech-used {
        .techs {
          background-color: red;
          font-size: 5px;
        }
        a {
          border: 1px solid #535353;
          padding: 0.5rem;
          margin: 0.25rem;
          border-radius: 5px;
        }
      }
    } */
  }
}

//TECH SUPPORT
.tech-support {
  background-color: var(--initial-color-overlay);
  background-color: var(--bg-transparent);

  background-image: url("assets/img/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;

  .support {
    display: flex;
    // margin: 2rem;
    // padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .details {
      width: 420px;
      margin: 2rem;
      line-height: 2rem;
      font-family: "Montserrat", sans-serif;

      p {
        margin-bottom: 1rem;
        font-weight: 300;
        line-height: 2rem;
      }
    }

    .report-form {
      width: 450px;
      margin: 2rem;
      padding: 2rem;

      .form {
        width: 340px;
        height: 490px;
        box-shadow: 0 0 10px 1px var(--color-60-medium-dark);
        padding: 20px 30px;
        // margin: calc(50vh - 220px) auto;
        // max-width: calc(100vw - 70px);
        font-family: "Montserrat", sans-serif;
        position: relative;
        border: solid var(--white) 0.5px;
        border-radius: 8px;

        h3 {
          padding-bottom: 20px;
        }

        input {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          background: none;
          outline: none;
          resize: none;
          border: 0;
          font-family: "Montserrat", sans-serif;
          transition: all 0.3s;
          border-bottom: 2px solid #bebed2;
          color: var(--white);

          &:focus {
            border-bottom: 2px solid #78788c;
          }
        }

        p:before {
          content: attr(type);
          display: block;
          margin: 28px 0 0;
          font-size: 14px;
          color: var(--card-text-color);
        }

        button {
          float: right;
          padding: 8px 12px;
          margin: 8px 0 0;
          font-family: "Montserrat", sans-serif;
          border: 2px solid #78788c;
          background: 0;
          color: var(--card-text-color);
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            background: #78788c;
            color: #fff;
          }
        }

        textarea {
          background: transparent;
          border: none;
          border-bottom: 2px solid #bebed2;
          margin-top: 5px;
          color: var(--white);
        }

        div {
          content: "Hi";
          position: absolute;
          bottom: -15px;
          right: -20px;
          background: #50505a;
          color: #fff;
          width: 320px;
          padding: 16px 4px 16px 0;
          border-radius: 6px;
          font-size: 13px;
          box-shadow: 10px 10px 40px -14px #000;
          display: flex;

          span {
            margin: 0 25px 0 15px;
            font-family: "Montserrat";
          }

          .fa {
            font-size: 10px;
            margin-right: 30px;
          }
        }
      }
    }
  }
}

.show {
  display: block !important;
}

.hidden {
  display: none;
}

// FAQ
.faq {
  box-shadow: var(--box-shadow-2);
  height: auto;
  padding-bottom: 3rem;

  .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .question {
      width: 800px;
      margin: 2rem;
      background-color: var(--color-60-dark);
      border-radius: 10px;
      position: relative;
      display: inline-block;

      .faq-question {
        padding: 1rem !important;
        font-size: 1rem;
        margin-left: 4px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      .drop-content {
        font-family: "Montserrat", "Roboto Mono", sans-serif;
        line-height: 1.7rem;
        padding: 0.5rem;
        margin-top: 0.9rem;
      }
    }
  }
}

// CONTACT ME
.contact-me {
  background: var(--color-60-medium-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
  }

  .container {
    // flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    font-family: "Montserrat", sans-serif;

    .screen {
      // position: relative;
      background: #3e3e3e;
      border-radius: 15px;

      &:after {
        content: "";
        display: block;
        // position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
      }

      .screen-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: #4d4d4f;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .screen-header-left {
          margin-right: auto;

          .screen-header-button {
            display: inline-block;
            width: 0.7rem;
            height: 0.7rem;
            margin-right: 3px;
            border-radius: 8px;
            background: var(--white);
          }
        }

        .screen-header-button.close {
          background: #ed1c6f;
        }

        .screen-header-button.maximize {
          background: #e8e925;
        }

        .screen-header-button.minimize {
          background: #74c54f;
        }
      }

      .screen-body {
        display: flex;

        .screen-body-item {
          flex: 1;
          padding: 50px;

          .app-title {
            display: flex;
            flex-direction: column;
            position: relative;
            color: var(--color-accent-sec-lighter);
            font-size: 26px;

            /* &:after {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 25px;
              height: 4px;
              background: var(--color-accent-sec-lighter);
            } */
          }
        }

        .left {
          display: flex;
          flex-direction: column;
        }

        .app-contact {
          margin-top: auto;
          font-size: 10px;
          color: #888;

          .email {
            margin-left: 4.2rem;
          }
        }
      }

      .app-form {
        .app-form-group {
          margin-bottom: 15px;

          .app-form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #666;
            color: #ddd;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;
            // text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s;

            &::placeholder {
              color: #666;
            }

            :focus {
              border-bottom-color: #ddd;
            }
          }

          .app-form-button {
            background: none;
            border: solid 1px var(--project-card-tech-color);
            color: var(--project-card-tech-color);
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            cursor: pointer;
            outline: none;
            padding: 0.8rem 1.8rem;
            border-radius: 5px;

            &:hover {
              color: var(--color-accent-sec-lighter);
              border-color: var(--color-accent-sec-lighter);
              background: transparent;
            }
          }
        }
      }

      .buttons {
        margin-bottom: 0;
        text-align: right;
      }
    }
  }

  /* @media screen and (max-width: 650px) {
    .screen-body {
      padding: 40px;
    }

    .screen-body-item {
      padding: 0;
    }

    .container {
      padding-left: 5rem;
      width: 600px;
    }

    .center-item {
      padding-left: 9rem;
      margin-left: 3rem;
      width: 580px;
      font-size: 2rem;
    }

    .app-form-button {
      background: none;
      border: solid 1px var(--project-card-tech-color);
      color: var(--project-card-tech-color);
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      cursor: pointer;
      outline: none;
      padding: 0.8rem 1.8rem;
      border-radius: 5px;
      margin-top: 0.6rem;
      width: 100%;
    }
  }

  @media screen and (max-width: 520px) {

    .contact-me {
      h1 {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        padding-bottom: 3rem;
        text-align: center;
        width: 100%;
      }
    }

    .screen-body {
      flex-direction: column;
    }

    .screen-body-item {
      .left {
        margin-bottom: 30px;
      }
    }

    .app-title {
      flex-direction: row;

      &:after {
        display: none;
      }
    }

    .app-title span {
      margin-right: 12px;
    }
  } */
}

.footer {
  // background: rgb(44, 100, 100);
  // padding-top: 10rem;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;

  // ABOUT ME
  .about-softech,
  .quick-links {
    width: 500px;
    margin: 1rem 2rem;
    padding: 1rem;
  }

  .about-softech {
    .txt p {
      font-family: "Montserrat", sans-serif;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }
  }

  .quick-links {
    li {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;

      a {
        cursor: pointer;
        margin: 0.5rem;
        font-family: "Monda", sans-serif;
        color: var(--width);
      }
    }
  }

  .icons {
    font-size: 0.7rem;

    a {
      margin: 0.5rem;

      svg {
        path {
          fill: #0edfb5;
        }

        width: 20px;
        height: 20px;
      }
    }
  }

  .endnote {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 2rem;
    width: 50%;

    .futer-txt {
      a {
        color: var(--color-60-light);
        text-transform: lowercase;
        padding: 0.5rem 0.8rem;
        border-radius: 5px;

        &:hover {
          background: hsla(0, 0%, 100%, 0.144);
        }
      }
    }
  }
}


/*** MEDIA QUERIES ***/

/*** Desktops and laptops ****/
@media only screen and (min-width: 1025px) {

  // Footer
  .footer {
    .about-softech {
      width: 450px;
      justify-content: start;
      align-items: start;
    }

    .about-softech {
      .txt {
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }

      .icons {
        margin-top: 2rem;

        &>a {
          margin-right: 2rem;
        }
      }
    }

    .quick-links {
      width: 100px;

      .nav-items {
        display: inline-flex;
        flex-direction: column;

        &>li {
          margin: 0.7rem 0.2rem;
        }
      }
    }

    .endnote {
      display: flex;
      justify-content: center;
      align-items: space-between;
      width: 100%;
      margin: 3rem;

      .futer-txt {
        margin-right: 5rem;
      }
    }
  }

  // services
  .services {
    width: 100%;

    h1 {
      margin-bottom: 3rem;
    }

    .center-item {
      justify-content: space-around;
    }

    .help-1,
    .help-2 {
      width: 700px;

      .child-2,
      .child-1 {
        margin: 3rem 0;
      }
    }

    .help-1,
    .help-2 {
      .child-1 {
        justify-content: center;
        width: 520px;

        p {
          // text-align: center;
          width: 400px;
        }

        h3 {
          width: 100%;
        }
      }
    }

    .help-1 {
      .child-2 {
        margin-left: 5rem;
      }
    }

    .help-2 {
      flex-direction: row-reverse;

      .child-1 {
        display: inline-flex;
        flex-direction: column;
        // margin-left: 5rem;
      }

      .child-2 {
        margin-right: 5rem;
      }
    }

    .child-1 {
      width: 100%;

      p {
        width: 420px;
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        justify-content: start;
      }
    }

    .child-2 {
      img {
        width: 400px;
        height: 350px;
      }
    }
  }
}

// laptop
@media screen and (max-width: 1024px) {
  section {
    height: 100vh;
  }

  .landing {
    align-items: center;
    justify-content: center;

    .what-i-do {
      h1 {
        font-size: 5rem;
        line-height: 4.5rem;
        margin-top: 3rem;
      }

      p {
        width: 75%;
        font-size: 0.9rem;
      }
    }

    .landing-img {
      display: block;
      margin-left: 1.2rem;
      object-fit: cover;

      .landing-pic {
        img {
          width: 350px;
          height: 300px;
        }
      }
    }

    .landing-icons>svg {
      fill: var(--white);
      width: 25px;
      height: 25px;
    }
  }

  // results section
  .get-results {
    height: auto;

    .results-body {
      flex-direction: column;

      p {
        font-size: 1.3rem;
        width: 500px;
        line-height: 2rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  // Benefits
  .flex-container {

    .benefit-1,
    .benefit-2,
    .benefit-3,
    .benefit-4,
    .benefit-5,
    .benefit-6 {
      width: 200px;
    }
  }

  // services
  .services {
    width: 100%;

    h1 {
      margin-bottom: 3rem;
    }

    .center-item {
      justify-content: space-around;
    }

    .help-1,
    .help-2 {
      // width: 680px;

      .child-2,
      .child-1 {
        margin: 3rem 0;
      }
    }

    .help-1,
    .help-2 {
      .child-1 {
        justify-content: center;
        width: 520px;

        p {
          // text-align: center;
          width: 300px;
        }

        h3 {
          width: 100%;
        }
      }
    }

    .help-2 {
      flex-direction: row-reverse;

      .child-1 {
        display: inline-flex;
        flex-direction: column;
        // margin-left: 5rem;
      }

      .child-2 {
        margin-right: 5rem;
      }
    }

    .child-1 {
      width: 100%;

      p {
        width: 420px;
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        justify-content: start;
      }
    }

    .child-2 {
      img {
        width: 250px;
        height: 250px;
      }
    }
  }

  // Footer
  .footer {
    // width: 750px;

    .about-softech {
      width: 450px;
      justify-content: start;
      align-items: start;
    }

    .about-softech {
      .txt {
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }

      .icons {
        margin-top: 2rem;

        &>a {
          margin-right: 2rem;
        }
      }
    }

    .quick-links {
      width: 100px;

      .nav-items {
        display: inline-flex;
        flex-direction: column;

        &>li {
          margin: 0.7rem 0.2rem;
        }
      }
    }

    .endnote {
      width: 100%;
      margin: 3rem;
    }
  }
}

// tablet
@media only screen and (max-width: 768px) {
  /* header {
    display: none;
  } */

  .landing {
    height: auto;
    padding-bottom: 2rem;
    align-content: flex-start;

    .landing-info {
      .hero {
        .what-i-do {
          p {
            width: 75%;
            font-size: 0.9rem;
          }
        }
      }
    }

    .landing-icons>svg {
      fill: var(--white);
      width: 25px;
      height: 25px;
    }

    .landing-img {
      display: none;
    }
  }

  // results section
  .get-results {
    h1 {
      font-size: 2.5rem;
    }

    .results-body {
      flex-direction: column;

      p {
        font-size: 1.1rem;
        line-height: 2rem;
        width: 400px;
        margin-bottom: 0.1rem;
      }
    }
  }

  // services
  .services {
    h1 {
      margin-bottom: 3rem;
    }

    .center-item {
      justify-content: space-around;
    }

    .help-1,
    .help-2 {
      // width: 680px;

      .child-2,
      .child-1 {
        margin: 3rem 0;
      }
    }

    .help-1,
    .help-2 {
      .child-1 {
        justify-content: center;
        width: 520px;

        p {
          // text-align: center;
          width: 300px;
        }

        h3 {
          width: 100%;
        }
      }
    }

    .help-2 {
      flex-direction: row-reverse;

      .child-1 {
        display: inline-flex;
        flex-direction: column;
        // margin-left: 5rem;
      }

      .child-2 {
        margin-right: 5rem;
      }
    }

    .child-1 {
      width: 100%;

      p {
        width: 420px;
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        justify-content: start;
      }
    }

    .child-2 {
      img {
        width: 250px;
        height: 250px;
      }
    }
  }

  // Tech support
  .tech-support {
    h1 {
      font-size: 2.5rem;
    }

    .support {
      .details {
        margin: -1.5rem;

        p {
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }

  // Faq
  .faq {
    h1 {
      width: 100%;
      font-size: 2.5rem;
    }

    .question {
      width: 600px !important;
      margin: 0.7rem;

      .faq-question {
        font-size: 0.7rem;
      }

      .drop-content {
        margin-top: 0.7rem;
      }
    }
  }

  // Contact me
  .contact-me {
    padding-top: 2rem;

    h1 {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.3rem;
      padding-bottom: 3rem;
      text-align: center;
      width: 100%;
    }

    .container {
      width: 600px;

      .screen {
        .screen-body {
          .screen-body-item {
            padding: 2rem;
          }
        }
      }
    }
  }

  // Footer
  .footer {
    width: 750px;

    .endnote {
      width: 100%;
      margin-top: 3rem;
    }

    .about-softech {
      width: 450px;
      justify-content: start;
      align-items: start;
    }

    .about-softech {
      .txt {
        p {
          font-size: 0.9rem;
          line-height: 1.7rem;
        }
      }

      .icons {
        margin-top: 2rem;

        &>a {
          margin-right: 2rem;
        }
      }
    }

    .quick-links {
      width: 100px;

      .nav-items {
        display: inline-flex;
        flex-direction: column;

        &>li {
          margin: 0 0.2rem;
        }
      }
    }
  }
}

/***** landscape on larger screens mobile devices *****/
@media screen and (max-width: 650px) and (min-width: 520px) {
  section {
    width: 650px;
  }

  header {
    width: 650px;
  }

  .nav-item button {
    visibility: hidden;
  }

  .landing {
    padding-bottom: 3rem;

    .landing-info {
      width: 520px;
      margin: 0.5rem 0.5rem;

      .hero {
        width: 520px;
        margin: 0.5rem 1rem;

        .what-i-do {
          width: 520px;

          h1 {
            font-size: 5rem;
            line-height: 5rem;
            margin-top: 3rem;
          }

          p {
            width: 60%;
            margin: 2rem 0;
            line-height: 2.5rem;
            font-size: 1.1rem;
          }
        }
      }

      .cta-container {
        .cta-btns {
          width: 60%;
          margin: 0.5rem 1rem;
          margin-right: 4rem;

          button {
            padding: 1.5rem 3.5rem;
            font-size: 1.1rem;
          }
        }
      }

      .landing-icons>svg {
        fill: var(--white);
        width: 25px;
        height: 25px;
      }

      .landing-img {
        display: none;
      }
    }
  }

  // results section
  .get-results {
    h1 {
      font-size: 2.5rem;
    }

    .results-body {
      margin: 0 1.8rem;
      flex-direction: column;

      p {
        font-size: 1.2rem;
        line-height: 2rem;
        width: 400px;
        margin-bottom: 0.1rem;
      }
    }
  }

  // services
  .services {
    h1 {
      margin-bottom: 3rem;
    }

    .help-1 {
      width: 100%;
      flex-direction: column;

      .child-1 {
        justify-content: center;
        width: 530px;

        p {
          text-align: center;
          width: 520px;
        }

        h3 {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          justify-content: center;
        }
      }

      .child-2 {
        margin-top: -0.8rem !important;

        img {
          width: 400px;
          height: 400px;
        }
      }
    }

    .help-2 {
      .child-1 {
        width: 600px;

        h3 {
          margin-left: -2.5rem;
        }
      }
    }
  }

  // Techs used
  .tech-used {

    .frontend,
    .backend,
    .general {
      .icon {
        flex-wrap: wrap;
        width: 150px;
        height: 150px;
        font-size: 4rem;

        p {
          font-size: 1.2rem;
        }

        svg {
          width: 60px;
          height: 60px;

          path {
            fill: var(--color-accent-sec-lighter);
          }
        }
      }
    }
  }

  // Tech support
  .tech-support {
    h1 {
      font-size: 2.5rem;
    }

    .support {
      .details {
        margin: -1.7rem;

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  // Faq
  .faq {
    h1 {
      width: 100%;
      font-size: 2rem;
    }

    .question {
      width: 560px !important;
      margin: 0.7rem;

      .faq-question {
        font-size: 0.7rem;
      }

      .drop-content {
        margin-top: 0.7rem;
      }
    }
  }

  // Contact me
  .contact-me {
    padding-top: 2rem;

    h1 {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      padding-bottom: 3rem;
      text-align: center;
      width: 100%;
    }

    .container {
      padding: 20px;
      width: 600px;

      .screen {
        .screen-body {
          .screen-body-item {
            padding: 2rem;
          }
        }
      }
    }
  }

  // Footer
  .footer {
    width: 600px;

    .about-softech {
      width: 100%;

      .txt {
        p {
          font-size: 1.3rem !important;
          line-height: 1.7rem;
        }
      }

      .icons {
        margin-top: 2.5rem;

        &>a {
          margin-right: 2rem;
        }
      }
    }

    .quick-links {
      width: 100%;

      .nav-items {
        width: 100%;
        display: inline-flex;
        flex-direction: row;

        &>li {
          margin: 0 1rem;
        }
      }
    }

    .endnote {
      width: 100%;
      margin-top: 3rem;
    }
  }
}

/***** landscape view - mobile devices *****/
@media screen and (max-width: 520px) {
  section {
    width: 520px !important;
  }

  header {
    width: 520px;
  }

  .nav-item button {
    visibility: hidden;
  }

  .landing {
    padding-bottom: 3rem;

    .landing-info {
      width: 100%;
      margin: 0.5rem 0.5rem;

      .hero {
        margin: 0.5rem 1rem;

        .what-i-do {
          h1 {
            font-size: 4.5rem;
            line-height: 5rem;
            margin-top: 2rem;
          }

          p {
            width: 60%;
            margin: 2rem 0;
            line-height: 2.5rem;
            font-size: 1rem;
          }
        }
      }

      .cta-container {
        .cta-btns {
          width: 60%;
          margin: 0.5rem 1rem;
          margin-right: 4rem;

          button {
            padding: 1.5rem 3.5rem;
            font-size: 1.1rem;
          }
        }
      }
    }

    .landing-icons>svg {
      fill: var(--white);
      width: 25px;
      height: 25px;
    }

    .landing-img {
      display: none;
    }
  }

  // results section
  .get-results {
    h1 {
      font-size: 2.5rem;
    }

    .results-body {
      flex-direction: column;

      p {
        font-size: 1.1rem;
        line-height: 2rem;
        width: 400px;
      }
    }
  }

  // services
  .services {
    h1 {
      margin-bottom: 1rem;
    }

    .help-1 {
      width: 100%;
      flex-direction: column;

      .child-1 {
        justify-content: center;
        width: 500px;

        p {
          text-align: center;
          width: 490px;
          padding: 0 1rem;
        }

        h3 {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          justify-content: center;
        }
      }

      .child-2 {
        margin-top: -0.9rem !important;

        img {
          width: 370px;
          height: 370px;
        }
      }
    }

    .help-2 {
      .child-1 {
        h3 {
          margin-left: 1rem;
        }
      }
    }
  }

  // Techs used
  .tech-used {

    .frontend,
    .backend,
    .general {
      .icon {
        flex-wrap: wrap;
        width: 150px;
        height: 150px;
        font-size: 4rem;

        p {
          font-size: 1.2rem;
        }

        svg {
          width: 60px;
          height: 60px;

          path {
            fill: var(--color-accent-sec-lighter);
          }
        }
      }
    }
  }

  // Tech support
  .tech-support {
    h1 {
      font-size: 2.1rem;
    }

    .support {
      .details {
        margin: -1.7rem;

        p {
          text-align: center;
        }
      }
    }
  }

  // Faq
  .faq {
    h1 {
      width: 100%;
      font-size: 1.7rem;
    }

    .question {
      width: 470px !important;
      margin: 0.7rem;

      .faq-question {
        font-size: 0.7rem;
      }

      .drop-content {
        text-align: justify;
        margin-top: 0.7rem;
      }
    }
  }

  // Contact me
  .contact-me {
    padding-top: 2rem;

    h1 {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      padding-bottom: 3rem;
      text-align: center;
      width: 100%;
    }

    .container {
      padding: 20px;
      width: 500px;

      .screen {
        .screen-body {
          display: flex;
          flex-direction: column;

          .screen-body-item {
            padding: 3rem;
          }
        }
      }
    }
  }

  // Footer
  .footer {
    width: 500px;

    .endnote {
      width: 100%;
      margin-top: 3rem;
    }

    .about-softech {
      width: 100%;

      .txt {
        p {
          font-size: 1.3rem !important;
          line-height: 1.7rem;
        }
      }

      .icons {
        margin-top: 2.5rem;

        &>a {
          margin-right: 2rem;
        }
      }
    }

    .quick-links {
      .nav-items {
        width: 100%;
        display: inline-flex;

        &>li {
          margin: 0 0.8rem;
        }
      }
    }
  }
}

/******** mobile devices **********/
@media screen and (max-width: 425px) {
  header {
    // width: 500px;

    nav {
      .nav-img {
        a {
          margin-left: 1rem;

        }
      }
    }

    .navbar {
      .nav-item {
        button {
          visibility: hidden;
        }
      }
    }
  }

  .landing {
    padding-bottom: 3rem;
    // min-height: 100vh;

    .landing-info {
      width: 100%;
      margin: 0.5rem 0.5rem;
      font-size: 0.5rem;

      .hero {
        width: 100%;
        margin: 0.5rem 1rem;
        font-size: 2rem;

        .what-i-do {
          width: 80%;

          h1 {
            font-size: 5.4rem;
            line-height: 5rem;
            margin-top: 4rem;
          }

          p {
            width: 90%;
            margin: 2rem 0;
            line-height: 2.5rem;
            font-size: 1.2rem;
          }
        }
      }

      .cta-container {
        .cta-btns {
          width: 60%;
          margin: 0.5rem 1rem;
          margin-right: 4rem;

          .btn-lg {
            // padding: 1.5rem 1.5rem;
            font-size: 1rem;
          }
        }

        .landing-icons>svg {
          fill: var(--white);
          width: 25px;
          height: 25px;
        }

        .landing-img {
          display: none;
        }
      }
    }
  }

  // results section
  .get-results {
    .results-body {
      margin: 0 1.8rem;
      flex-direction: column;

      p {
        width: 350px;
        line-height: 1.8rem;
        font-size: 1.1rem;
      }
    }
  }

  // services
  .services {
    h1 {
      margin-bottom: 1rem;
    }

    .help-1 {
      width: 420px;
      flex-direction: column;

      .child-1 {
        justify-content: center;
        // width: 500px;

        p {
          text-align: center;
          width: 490px;
          padding: 0 1rem;
        }

        h3 {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          justify-content: center;
        }
      }

      .child-2 {
        margin-top: -0.9rem !important;

        img {
          width: 370px;
          height: 370px;
        }
      }
    }

    .help-2 {
      .child-1 {
        // width: 570px;

        h3 {
          margin-left: 0.5rem;
        }
      }
    }
  }

  // Techs used
  .tech-used {

    .frontend,
    .backend,
    .general {
      .icon {
        flex-wrap: wrap;
        width: 150px;
        height: 150px;
        font-size: 4rem;

        p {
          font-size: 1.2rem;
        }

        svg {
          width: 60px;
          height: 60px;

          path {
            fill: var(--color-accent-sec-lighter);
          }
        }
      }
    }
  }

  // Tech support
  .tech-support {
    h1 {
      // width: 600px;
      // margin-left: 3rem;
      font-size: 1.9rem;
    }

    .support {
      .details {
        margin: -1.7rem;

        p {
          text-align: center;
        }
      }

      .form {
        button {
          width: 100%;
        }
      }
    }
  }

  // Faq
  .faq {
    h1 {
      width: 100%;
      font-size: 2rem;
    }

    .question {
      width: 420px !important;
      margin: 1rem;

      .faq-question {
        font-size: 0.7rem;
      }

      .drop-content {
        text-align: justify;
        margin-top: 0.7rem;
      }
    }
  }

  // Contact me
  .contact-me {
    padding-top: 2rem;

    h1 {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      padding-bottom: 3rem;
      text-align: center;
      width: 100%;
    }

    .container {
      padding: 20px;
      width: 435px;

      .screen {
        width: auto;

        .screen-body {
          padding: 0;

          .screen-body-item {
            padding: 3rem;
          }
        }
      }
    }
  }

  // Footer
  .footer {
    width: 420px;
    margin: 1rem;

    .about-softech {
      width: 100%;

      .txt {
        p {
          width: 420px;
          font-size: 1.2rem !important;
          line-height: 1.7rem;
        }
      }

      .icons {
        margin-top: 2.5rem;
      }
    }

    .quick-links {
      width: 100%;

      .nav-items {
        width: 100%;
        display: inline-flex;
        flex-direction: row;

        &>li {
          margin: 0 0.8rem;
        }
      }
    }

    .endnote {
      width: 100%;
      margin-top: 3rem;
    }
  }

}