@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;0,700;1,500&display=swap");
:root {
  --color-60-lighter: #fff;
  --color-60-transp: hsla(0, 0%, 100%, 0.75);
  --color-60-light: #edfdee;
  --color-60-medium-light: #31323b;
  --color-60-medium: #2b2c3b;
  --color-60-medium-dark: #1c1d26;
  --color-60-dark: #171820;
  --color-30-1: hsla(0, 0%, 100%, 0.8);
  --color-accent-main: #ff6663;
  --color-accent-main-lighter: #ff7370;
  --color-accent-sec: #03cea4;
  --color-accent-sec-lighter: #0edfb5;
  --border-color: #eceeef;
  --color-illustration: #5626a9;
  --color-illustration-light: #6635bb;
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: #1f1f1f;
  --tool-color: var(--color-accent-sec);
  --tool-name-color: var(--color-60-transp);
  --toolbox-header-color: var(--color-60-transp);
  --tool-bg-color: var(--color-60-medium-dark);
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #fff;
  --card-text-color: hsla(0, 0%, 100%, 0.82);
  --faq-bg-color: rgba(31, 31, 31, 0.8);
  --project-card-header-color: hsla(0, 0%, 100%, 0.9);
  --project-card-description-color: hsla(0, 0%, 100%, 0.8);
  --project-card-tech-color: hsla(0, 0%, 100%, 0.55);
  --project-card-tech-border-color: hsla(0, 0%, 100%, 0.4);
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-light);
  --project-button-sec-text-color: var(--color-60-transp);
  --placeholder-color: var(--color-60-transp);
  --error-color: #f36;
  --default-color: #d6edff;
  --success-color: #81e979;
  --height-100: 100vh;
  --width-100: 100vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  color: var(--color-60-light);
  background-color: var(--color-60-medium);
  scrollbar-color: #535353 #333;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  color: var(--color-60-transp);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-60-light);
}

.visible {
  opacity: 1;
}

header {
  -webkit-box-shadow: 0 2px 10px rgba(236, 78, 32, 0.05);
          box-shadow: 0 2px 10px rgba(236, 78, 32, 0.05);
}

header nav {
  background-color: var(--color-60-medium-dark);
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  color: white;
  margin: 0;
  padding: 1rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

header nav span {
  color: #fff;
}

header nav .nav-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-img a span {
  margin-left: 0.8rem;
  font-size: 1rem;
}

header nav .nav-item button {
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  margin-right: 2rem;
  margin-top: 0.4rem;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: uppercase;
  background-color: var(--color-accent-sec);
  border: transparent;
  border-radius: 0.35rem;
  color: #fff;
  cursor: pointer;
}

header nav .nav-item button:hover {
  background-color: #548675;
}

header nav .nav-item img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

main img {
  height: 400px;
  width: auto;
}

main section {
  height: auto;
}

main section .what-i-do {
  background-color: #03cea4;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .landing-pic img {
  height: 400px;
  width: auto;
}

.get-results {
  background: #596845;
}

.services {
  background: #b3a86b;
  height: auto;
}

.tech-used {
  background-color: #03cea4;
}

.benefits {
  background-color: #a17070;
}

.projects {
  background-color: #64d45a;
}

.tech-support {
  background-color: #5626a9;
}

.footer h3 {
  color: #fff !important;
  background-color: #171820;
  height: 80vh;
}
/*# sourceMappingURL=style.css.map */